<div>
    <img src="https://api.lorem.space/image?w=150&h=180">
</div>
<div id="<%= dom_id user %>">
    <h1><%= @user.email %></h1>
</div>

<div> 

<h2>Created Events</h2>

  <% if @user.created_events.empty? %>
    <h3><%= @user.email%> hasn't created any events yet!</h3>
  <% else %>
    <% @user_events = @user.created_events %>
    <div id="Events">
      <% @user_events.each do |event| %>
        <p>
          <h3> <%= event.name %> by <%= event.creator.email %> 
          <%= link_to "Show this event", event %>
          </h3>
        </p>
      <% end %>
    </div>
  <%end%>
</div>

<h2>Attend Events</h2>

  <% if @user.attended_events.empty? %>
    <h3><%= @user.email%> isn't attendint any events yet!</h3>
  <% else %>
    <% @attended_events = @user.attended_events %>
    <div id="Events">
      <% @attended_events.each do |event| %>
        <p>
          <h3> <%= event.name %> by <%= event.creator.email %> 
          <%= link_to "Show this event", event %>
          </h3>
        </p>
      <% end %>
    </div>
  <%end%>
</div>


<%= link_to "Edit user",  edit_user_registration_path %>