<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <%= link_to 'UPCOMING', root_url, class:"navbar-brand"  %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "EVENTS", root_url, class:"nav-link active" %>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DATES</a>
        </li>
        <li class="nav-item dropdown">

          <% if user_signed_in?%>          
          
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-target="#userMenu">
            Welcome <%= current_user.email %>
          </a>
          <ul class="dropdown-menu" id="userMenu">
            <li><%= link_to "User Profile", user_path(current_user.id), class:"dropdown-item" %> 
            <li><%= link_to "Your Events", user_path(current_user.id), class:"dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </ul>

          <% else %>

          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-target="#userMenu">
            LOG IN
          </a>
          <ul class="dropdown-menu" id="userMenu">
            <li><%= button_to "Sign in", new_user_session_path, method: :get, class:"dropdown-item" %></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= button_to "Sign up", new_user_registration_path, class:"dropdown-item" %></li>
          </ul>

          <% end %>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>