
<div class="card" style="width: 10rem;">
  <img src="https://api.lorem.space/image?w=100&h=110" class="card-img-top" alt="random generated image">
  <div class="card-body">
    <h5 class="card-title"><%= @event.name %></h5>
    <p class="card-text">This is in <%= @event.location %> on the <%= @event.date %>. <br> Event created by <%= @event.creator.email %> </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<h2>Want to attend?</h2>

<%= button_to 'Attend', event_attendings_path(@event), method: :post, confirm: 'really?' %>