<h2>New Event</h2>

<%= form_for(model: "Event") do |f| %>
  <%= render "error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Your event", class:"form-control form-control-sm" %>
  </div>

  <div class="field">
    <%= f.label :place %>
    <%= f.text_field :place, placeholder: "Event's location", class:"form-control form-control-sm" %>
  </div>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_field :date, class:"form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>