<h2>New Event</h2>

<%= form_with(model: @event) do |f| %>
    
  <% if @event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Your event", class:"form-control form-control-sm" %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, placeholder: "Event's location", class:"form-control form-control-sm" %>
  </div>

    
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date, class:"form-control form-control-sm" %>
  </div>

  <div class="actions">
    <%= f.submit "Create event!" %>
  </div>
<% end %>